# Set default behavior to automatically normalize line endings.
# * text=auto
*.js linguist-language=json
*.css linguist-language=json
*.html linguist-language=json
*.json linguist-language=json
*.rs linguist-language=json
*.php linguist-language=json
*.go linguist-language=json
*.cs linguist-language=json
*.cpp linguist-language=json
*.java linguist-language=json
*.lua linguist-language=json
*.md linguist-language=json
*.py linguist-language=json
*.ts linguist-language=json
