*{
  margin: 0;
}

html,body,#UI{
  width: 100%;
  height: 100%;
}

/* 整个界面样式 */
#UI{
  display: flex;
  flex-direction: column;
  background-color: var(--UI-bgColor);
}

/* 主菜单栏样式 */
#menu{
  user-select: none;
  width:100%;
  height:var(--Menu-height);
  display: flex;
  justify-content: space-between;
  background-color: var(--Menu-bgColor) calc();
}

/* 主菜单中间的控制切换按钮区域 */
#menu-switch{
  width:400px;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 主菜单按钮样式 */
#menu-switch>div.option{
  width:100px;
  height:70%;
  border-radius: 10px;
  color:var(--Menu_switch_option-textColor);
  background: var(--Menu_switch_option-bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu-switch>div.option[selected]{
  background: var(--Menu_switch_option_selected-bgColor);
}

/* 工作区样式 */
#main{
  width:100%;
  height:calc(100% - var(--Menu-height));
  padding:10px;
  box-sizing: border-box;
}
/* 图像汇工作区 */
#img-album{
  width:100%;
  height:100%;
  border-radius: 10px;
  display: flex;
  justify-content: start;
}
#img-album-left{
  width:var(--Img_album_left-width);
  height:100%;
  border-radius: 10px;
  background: var(--Img_album_left-bgColor);
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  box-sizing: border-box;
}
#img-album-right{
  width:calc(100% - var(--Img_album_left-width));
  height:100%;
  padding:0 20px 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#img-album-box{
  display: block;
  width:350px;
  height:350px;
  background: var(--Img_album_box-bgColor);
}
#img-album-search{
  width:100%;
  height:40px;
  display: flex;
  justify-content: space-between;
}
#img-album-search-input{
  display: block;
  width:calc(100% - var(--Img_album_search_action-width));
  margin-right: 10px;
  padding:10px;
  font-size: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  border: none;
  /* border:1px solid var(--Img_album_search_input-bdColor); */
  background: var(--Img_album_search_input-bgColor);
  color: var(--Img_album_search_input-color);
}
#img-album-search-input:focus{
  outline: 1px solid var(--Img_album_search_input-focus-bdColor);
}
#img-album-search-action{
  user-select: none;
  display: block;
  width:var(--Img_album_search_action-width);
  border-radius: 10px;
  border: none;
  background: var(--Img_album_search_action-bgColor);
  color:var(--Img_album_search_action-color);
  font-size: 15px;
}
#img-album-search-action:hover{
  background: var(--Img_album_search_input-hover-bgColor);
}
#img-album-search-action:active{
  transform: translate(1px , 1px);
}